*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    color: #6d6e6e;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 200;
    
    
    
}

header{
    position:sticky;
    top:0;

    background:white;

    z-index:1000;
}

.logo img{
    width: 200px;
}

nav{
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
   
}

.nav-links{
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    color: grey;
    font-size: 14px;
}
.nav-links a:hover{
    color:#00c3a5;
}
.nav-links a{
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}

.main-section{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

.sygnet{
    display: block;
    margin: 0 auto;
}

.main-section h1{
    text-align: center;
    color: #00c3a5;
    font-weight: 300;
    margin: 30px 0;
}
.paragraphs{
    display: flex;
    gap: 30px;
    
    p {
     line-height: 1.8;
     color: #747474;
     font-size: 16px;
  }
}
.paragraph-left,
.paragraph-right{
    flex: 1;
}
.cards{
    width: 80%;
    margin: 50px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;

    margin-top:70px;
    
    

}
.card-1,
.card-2,
.card-3{
    
    padding:30px;
    border-radius:10px;
    height: 300px; ;
    width: 300px;

    display:flex;
    flex-direction:column;
    
    gap: 50px;
    
    h1 {
        font-size: 30px;
        font-weight: 150;
    }
   
    h2 {
      font-size: 20px;
      font-weight: 50;
     }
}


.card-1{
    background-color:#00ccb1;
    gap: 50px;
}

.card-2{
    background-color:#3d83df;
    gap: 75px;
}

.card-3{
    background-color:#1b2734;
    gap: 50px;
}
 


.brands {
    width: 60%;
    margin: 70px auto;

    display: flex;
    gap: 50px;

    h1{
    color:#00c3a5;
    font-size: 30px;
    font-weight:50;
    line-height:1.4;
    
    flex:1;
   }
}

.brands-logos{
    flex:2;

    list-style:none;
    padding:0;


    display:flex;
    flex-wrap:wrap;
    gap:25px;

    li{
    display:flex;
    align-items:center;
  }

    img{
    width:120px;
    opacity:0.5;

    transition:0.3s;
  }
}

.brands-logos img:hover{
    transform: scale(1.2);
 }




.stats-section {
    background-color: #e5faf8;
    
 }


.stats-container{
    display: flex;
    gap: 50px;
    width: 80%;
    margin: 70px auto;
    
 }
 
.stats-intro{
    display: flex;
    flex-direction: column;
    justify-content: end; 
    gap: 25px;
    font-family: Work Sans, Arial, sans-serif;

    h1 {
       color:#08a691
    }
    
 }

.stats-grid {
    display: flex;
    gap: 20px;

    font-family: Arial, Helvetica, sans-serif;
    
    

    h3{
        color:#06aa94;
        font-size: 25px;
    }
    p{
        font-size:14px ;
    }
    
    
 }

.grid-1{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

.grid-2{

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
 }
   

.stats-card-1{
    
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
     

}

.stats-card-2{
    
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.stats-card-3{
    
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.stats-card-4 {

    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
      
} 

 .icon-1,
 .icon-2,
 .icon-3,
 .icon-4 { 
    
    height: 40px;
    width: 40px;
   
 }


.section-5 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 80px;

    text-align: center;
  
    h1{
        color: #00a892;
        font-size: 30px;;
        font-family: Roboto, Arial, sans-serif;
;
    }

    p{
        line-height: 25px;
    }

 
}


.countries{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 20px;

    width: 60%;
    margin: auto;
}


.warsaw, 
.barcelona, 
.berlin, 
.istanbul, 
.rome,
.bologna,  
.curitiba, 
.rio-janeiro, 
.mexico-city, 
.bogota, 
.amsterdam {

    border-style: solid;
    border-width: 1px;
    border-color: #f8f6f6;
    border-radius: 5px;
} 


.img-1, 
.img-2, 
.img-3, 
.img-4, 
.img-5, 
.img-6, 
.img-7, 
.img-8, 
.img-9, 
.img-10, 
.img-11 {

    height: 270px;
    width: 280px;
    border: none;
}


.div-1, 
.div-2, 
.div-3, 
.div-4, 
.div-5, 
.div-6, 
.div-7, 
.div-8, 
.div-9, 
.div-10, 
.div-11 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    margin: 10px;

    height: 50px;
}


button{
    
    background: #3c80d8;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
}


.end-section{

    width: 80%;
    margin: auto;

    margin-top: 80px;
    margin-bottom: 80px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    
}


.last-button{
    width: 250px;
    font-size: 16px;
    
}


footer{

    border-top: 1px solid #eef2f2;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    margin: 20px;   
}



.footer-end{
    display: flex;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}
