*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: grey;
    font-family: Arial, sans-serif;
    
}

header{
    position:sticky;
    top:0;

    background:white;

    z-index:1000;
}

.logo img{
    width: 200px;
}

nav{
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
   
}

.nav-links{
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    color: grey;
    font-size: 14px;
}
.nav-links a:hover{
    color:#00c3a5;
}
.nav-links a{
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}

.main-section{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

.sygnet{
    display: block;
    margin: 0 auto;
}

.main-section h1{
    text-align: center;
    color: #00c3a5;
    font-weight: 300;
    margin: 30px 0;
}
.paragraphs{
    display: flex;
    gap: 30px;
    
    p{
     line-height: 1.8;
     color: #747474;
     font-size: 16px;
  }
}
.paragraph-left,
.paragraph-right{
    flex: 1;
}
.cards{
    width: 80%;
    margin: 50px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;

    margin-top:70px;
    
    h1{
    margin:15px 0;
  }
     h2{
    font-size:24px;
    font-weight:300;
    line-height:1.3;
  }
}
.card-1,
.card-2,
.card-3{
    
    padding:30px;
    border-radius:10px;
    height: 300px; ;
    width: 300px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap: 10PX;
     
}


.card-1{
    background-color:#00ccb1;
}

.card-2{
    background-color:#3d83df;
}

.card-3{
    background-color:#1b2734;
}
 


.brands{
    width: 80%;
    margin: 70px auto;

    display: flex;
    gap: 50px;

    h1{
    color:#00c3a5;
    font-weight:300;
    line-height:1.4;

    flex:1;
   }
}

.brands-logos{
    flex:2;

    list-style:none;
    padding:0;


    display:flex;
    flex-wrap:wrap;
    gap:25px;

    li{
    display:flex;
    align-items:center;
  }

    img{
    width:120px;
    opacity:0.5;

    transition:0.3s;
  }
}

.brands-logos img:hover{
    transform: scale(1.2);
 }




.stats-section {
    background-color: #e5faf8;
    
 }


.stats-container{
    display: flex;
    gap: 50px;
    width: 80%;
    margin: 70px auto;
    
 }
 
.stats-intro{
    display: flex;
    flex-direction: column;
    justify-content: end; 
    gap: 25px;
    font-family: Work Sans, Arial, sans-serif;

    h1 {
       color:#04bea6
    }
    
 }

.stats-grid {
    display: flex;
    gap: 20px;
    
    
 }

.grid-1{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

.grid-2{

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
 }
   

.stats-card-1{
    
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;
     

}
.stats-card-2{
    
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;

     

}
.stats-card-3{
    
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;

     

}
.stats-card-4 {

    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px #0000000d;
    height: 250px;
    width: 250px;
    padding: 15px;
    text-align: center;
      
} 

.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 80px;
  
    p{
        line-height: 25px;
    }
}